#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
  -DBUILD_SHARED_LIBS:BOOL=ON \
  -DCMAKE_CXX_COMPILER:PATH=/usr/bin/mpicxx
